# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build_log*.txt
*lint_report.txt
eslint_report.txt
navbar_lint.txt
temp_lint.txt

# Dependencies
node_modules/
.vite/

# Production
dist/
dist-ssr/
build/

# Secret files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel/
